#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  position: absolute;
  top: 1vw;
  left: 1vw;
  padding: 10px;
  width: 95vw;
  height: 95vh;
}
img {
  max-width:100%;
  max-height:100%;
  display: table-cell;
  vertical-align: middle;
  object-fit: cover;
}
body {
  background-color: black;
  font-family: cursive;
}

#Clock {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 1px; 
  position: absolute;
  left: 50%;
  top: 25%;
  font-family: 'Orbitron',sans-serif;
  color:white;
  font-size: 13.5vw;
  height: 30%;
  width: 50%;
  transform: translate(-50%,-50%);
}
#Period_Number {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 1px;
  position: absolute;
  
    left: 50%;
    top: 65%;
    font-family: 'Orbitron',sans-serif;
    color:white;
    text-align: center;
    font-size: 15vh;
    height: 22%;
    width: 11%;
    transform: translate(-50%,-50%);
}
#Period_Label {
    position: absolute;
    left: 50%;
    top: 90%;
    font-family: 'Orbitron',sans-serif;
    color: white;
    font-size: 5vw;
    height: 11%;
    width: 25%;
  transform: translate(-40%,-50%);
}
#Home_Logo {
    position: absolute;
    left: 5%;
    top: 5.5%;
    font-family: 'Orbitron',sans-serif;
    text-align: center;
    color:white;
    font-size: 8vw;
    height: 33%;
    width: 18.75%;
}
#Home_Label {
    position: absolute;
    left: 9%;
    top: 55%;
    font-family: 'Orbitron',sans-serif;
    color:white;
    font-size: 6vw;
    height: 11%;
    width: 25%;

}
#Home_Score {
    position: absolute;
    left: 8%;
    top: 67%;
    font-family: 'Orbitron',sans-serif;
    color: white;
    font-size: 12vw;
    height: 25%;
    width: 6.25%;
}
#Home_Pos {
    position: absolute;
    left: 35.5%;
    top: 56%;
    font-family: 'Orbitron',sans-serif;
    color:white;
    font-size: 8vw;
    height: 11%;
    width: 6.25%;
}
#Guest_Logo {
    position: absolute;
    left: 78%;
    top: 5.5%;
    font-family: 'Orbitron',sans-serif;
    color:white;
    font-size: 8vw;
    height: 33%;
    width: 18.75%;
}
#Guest_Label {
    position: absolute;
    left: 74%;
    top: 55%;
    font-family: 'Orbitron',sans-serif;
    color:white;
    font-size: 6vw;
    height: 11%;
    width: 25%;
}
#Guest_Score {
    position: absolute;
    left: 73%;
    top: 67%;
    font-family: 'Orbitron',sans-serif;
    color:white;
    font-size: 12vw;
    height: 25%;
    width: 22%;
}
#Guest_Pos {
    position: absolute;
    left: 57%;
    top: 56%;
    font-family: 'Orbitron',sans-serif;
    color:white;
    font-size: 8vw;
    height: 11%;
    width: 6.25%;
}
