
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  position: absolute;
  top: 1vw;
  left: 1vw;
  padding: 10px;
  width: 95vw;
  height: 95vh;
}

#timer-area{  
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
}

body {
  background-color: black;
  font-family: cursive;
}

.glow {
  font-size: 8vw;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000073, 0 0 40px #000073, 0 0 50px #000073, 0 0 60px #000073, 0 0 70px #000073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #004da6, 0 0 40px #004da6, 0 0 50px #004da6, 0 0 60px #004da6, 0 0 70px #004da6, 0 0 80px #004da6;
  }
}

#title {
    position: fixed;
    left: 15%;
    top: -7vh;
    }
#homePoints {
    position: fixed;
    left: 5vw;
    top: 20vh;
    }

#homeFoul {
    position: fixed;
    left: 5vw;
    top: 60vw;
}

#homeFcnt {
    position: fixed;
    left: 5vw;
    top: 80vh;
    }
#homeBcnt {
    position:fixed;
    left: 30vw;
    top: 80vh;
    font-family: 'Orbitron',sans-serif;
    color:white;
    font-size: 8vw;
    }
#visitPoints {
    position:fixed;
    right: 5vw;
    top: 20vh;
    }
#visitFoul {
    position: fixed;
    left: 5vw;
    top: 60vw;
}

#visitFcnt {
    position:fixed;
    right: 15vw;
    top: 80vh;
    }
#visitBcnt {
    position:fixed;
    right: 5vw;
    top: 80vh;
    font-family: 'Orbitron',sans-serif; 
    color:white; 
    font-size: 8vw;
    }
#homeName {
    position:fixed;
    left: 5vw;
    top: 10vh;
    }
#visitName {
    position:fixed;
    right: 5vw;
    top: 10vh;
    }

